<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Completed Tasks</title>
    <style>
        th, td{
            padding: 2px;
            border: 1px solid black;
        }
        td a{
            display: inline-block;
            margin-right: 5px;
        }
        .button-fix{
            display: flex;
            gap: 10px;
        }
    </style>
</head>
<body>
<h3>List of completed tasks</h3>
<hr>
<div th:if="${tasks.isEmpty()}">
    <p>No Tasks to display</p>
</div>
<table th:if="${!tasks.isEmpty()}" style="border-collapse: collapse;">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Category</th>
        <th>Due date</th>
        <th>Completed date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tempTask : ${tasks}">
        <td th:text="${tempTask.title}"/>
        <td th:text="${tempTask.description}"/>
        <td th:text="${tempTask.priority}"/>
        <td th:text="${tempTask.category}"/>
        <td th:text="${tempTask.dueDate}"/>
        <td th:text="${tempTask.updatedAt}"></td>
        <td>
            <a th:href="@{/task/bringBackTask(taskId=${tempTask.id})}">
                <button type="button">Bring Back</button>
            </a>

            <a th:href="@{/task/deleteTask(taskId=${tempTask.id})}"
                onclick="if(!(confirm('Are you sure you want to permanently delete this task?'))) return false">
                <button type="button">Delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<a th:href="@{/}">
    <button type="button">Back</button>
</a>
</body>
</html>