<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User Registration</title>

    <style>
        .failed{
            color : red;
            font-style: italic;
        }
    </style>
</head>
<body>

<h3>New User Registration</h3>
<hr>
<form action="#" th:action="@{/register/processRegistrationForm}"
    th:object="${user}"
    method="POST">

    <div>
        <label>Username*</label>
        <input type="text" th:field="*{userName}">
        <span class="failed"
              th:if="${#fields.hasErrors('userName')}"
              th:each="err : ${#fields.errors('userName')}"
              th:text="'User name ' + ${err}"></span>
        <span class="failed"
              th:if="${registrationError}"
              th:text="${registrationError}"></span>
    </div>
<br>
    <div>
        <label>Password*</label>
        <input type="text" th:field="*{password}">
        <span class="failed"
              th:if="${#fields.hasErrors('password')}"
              th:each="err : ${#fields.errors('password')}"
              th:text="'Password ' + ${err}"></span>
    </div>
<br>
    <div>
        <label>Email*</label>
        <input type="text" th:field="*{email}">
        <span class="failed"
              th:if="${#fields.hasErrors('email')}"
              th:each="err : ${#fields.errors('email')}"
              th:text="'Email ' + ${err}"></span>
    </div>

    <p>
        <button type="submit">Register</button>
    </p>

    <hr>

    <a th:href="@{/}">
        <button type="button">Back</button>
    </a>

</form>
</body>
</html>