<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>To-Do</title>
    <style>
        th, td{
            padding: 2px;
            border: 1px solid black;
        }
        td a{
            display: inline-block;
            margin-right: 5px;
        }
        .button-fix{
            display: flex;
            gap: 10px;
        }

    </style>
</head>
<body>
<h3>To-do Tracking app</h3>
<hr>
<div class="button-fix">
    <a th:href="@{/task/addTask}" >
        <button type="button">Add task</button>
    </a>
    <a th:href="@{/task/taskArchive}" >
        <button type="button">Completed Tasks</button>
    </a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/userList}" >
        <button type="button">Users</button>
    </a>
</div>
<div th:if="${tasks.isEmpty()}">
    <p>No pending tasks. Click on "Add task" to stay organised</p>
</div>
<div th:if="${!tasks.isEmpty()}">
<br>
<table style="border-collapse: collapse;">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Category</th>
        <th>Due date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tempTask : ${tasks}">
        <td th:text="${tempTask.title}"/>
        <td th:text="${tempTask.description}"/>
        <td th:text="${tempTask.priority}"/>
        <td th:text="${tempTask.category}"/>
        <td th:text="${tempTask.dueDate}"/>
        <td>
            <a th:href="@{/task/completeTask(taskId=${tempTask.id})}">
                <button type="button">Complete</button>
            </a>

            <a th:href="@{/task/updateTask(taskId=${tempTask.id})}">
                <button type="button">Update</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<hr>
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>